<div class="wrapper">
  <main>
    <div class="main-section cat-navbar">
      <div class="container">
        <div class="main-section-data">
          <div class="row">
            <div class="form-group" style="width: 100%">
              <textarea style="width: 100%" class="form-control" rows="5" id="comment"
                        [(ngModel)]="item.searchText"></textarea>
            </div>
          </div>
          <div *ngIf="!isLoading" class="row justify-content-end mb-5">
            <button type="button" class="btn btn-secondary"
                    (click)="createReport()">
              Generate Keywords
            </button>
          </div>
          <div *ngIf="isLoading" class="row justify-content-center mb-5">
            <app-loader></app-loader>
          </div>
          <div class="row ml-5 mb-4 justify-content-center">
            <div class="col-11">

              <h2 align="center">Report Info</h2>
              <h6 align="center">You can still add them later</h6>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Reference Number</span>
                </div>
                <input type="text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default" [(ngModel)]="item.refNumber">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Class Number</span>
                </div>
                <input type="text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default" [value]="item.classNumber">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">List Of Classes</span>
                </div>
                <input type="text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default" [value]="item.classList">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Trademark Name</span>
                </div>
                <input type="text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default" [value]="item.trademarkName">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Application Name</span>
                </div>
                <input type="text" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default" [value]="item.applicationName">
              </div>


              <!--              <div class="row">-->
              <!--                <div class="col">-->
              <!--                  <button class="btn btn-light cat-btn" (click)="changeCurrentType(0)">All</button>-->
              <!--                </div>-->
              <!--                <div class="col">-->
              <!--                  <button class="btn btn-light cat-btn" (click)="changeCurrentType(1)">Vacancies</button>-->
              <!--                </div>-->
              <!--                <div class="col">-->
              <!--                  <button class="btn btn-light cat-btn" (click)="changeCurrentType(2);notAvailable('grants')">Grants-->
              <!--                  </button>-->
              <!--                </div>-->
              <!--                <div class="col">-->
              <!--                  <button class="btn btn-light cat-btn" (click)="changeCurrentType(3);notAvailable('events')">Events-->
              <!--                  </button>-->
              <!--                </div>-->
              <!--                <div class="col">-->
              <!--                  <button class="btn btn-light cat-btn" (click)="changeCurrentType(4)">Facilities</button>-->
              <!--                </div>-->
              <!--                <div class="col">-->
              <!--                  <button class="btn btn-light cat-btn" (click)="changeCurrentType(5);notAvailable('programs')">Programs-->
              <!--                  </button>-->
              <!--                </div>-->
              <!--                <div class="col">-->
              <!--                  <button class="btn btn-light cat-btn" (click)="changeCurrentType(6)">Posts-->
              <!--                  </button>-->
              <!--                </div>-->
              <!--                <div class="col university-border">-->
              <!--                  <button class="btn btn-light cat-btn" (click)="notAvailable('universities')">Universities</button>-->
              <!--                </div>-->
              <!--                <div class="col">-->
              <!--                  <button class="btn btn-light cat-btn" (click)="notAvailable('people')">People</button>-->
              <!--                </div>-->
              <!--              </div>-->
            </div>
          </div>
          <!--          <app-items-components></app-items-components>-->
        </div>
      </div>
    </div>
  </main>
</div>
