<div class="wrapper">
  <main>
    <div class="main-section cat-navbar">
      <div class="container">
        <div class="main-section-data">
          <ul class="list-group" *ngFor="let keyword of itemsService.currentItem?.results.keywords">
            <li class="list-group-item">{{keyword.txt}}</li>
          </ul>
          <div class="row ml-5 mb-4">

            <button type="button" class="btn btn-outline-secondary" [routerLink]="['/report']">Report<i
              class="fa fa-paper-plane-o"></i></button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
