<div class="wrapper">
  <main>
    <!--    <app-loader>-->
    <div class="row">
      <div class="col-2">
        <div class="list-group list-group-flush custom-scrollbar" role="tablist">
          <h6>Keywords With Similar Match ({{withResultsKeywords.length}})</h6>
          <a *ngFor="let keyword of withResultsKeywords"
             class="list-group-item list-group-item-action" data-toggle="list" [href]="'#'+txtToId(keyword.txt)"
             role="tab">
            {{keyword.txt}}
          </a>
          <h6>Keywords Without Results ({{noResultsKeywords.length}})</h6>
          <a *ngFor="let keyword of noResultsKeywords"
             class="list-group-item list-group-item-action" data-toggle="list" [href]="'#'+txtToId(keyword.txt)"
             role="tab">
            {{keyword.txt}}
          </a>
          <h6>Country Conflict Keywords ({{withCountryConflictKeywords.length}})</h6>
          <a *ngFor="let keyword of withCountryConflictKeywords"
             class="list-group-item list-group-item-action" data-toggle="list" [href]="'#'+txtToId(keyword.txt)"
             role="tab">
            {{keyword.txt}}
          </a>
          <h6>Matched Keywords ({{matchedKeywords.length}}/{{allKeywords.length}})</h6>
          <a *ngFor="let keyword of matchedKeywords"
             class="list-group-item list-group-item-action" data-toggle="list" [href]="'#'+txtToId(keyword.txt)"
             role="tab">
            {{keyword.txt}}
            <span *ngIf="keyword.exact" class="badge badge-primary badge-pill pull-right">EXACT</span></a>
        </div>
      </div>
      <div class=" col-9 main-section">

        <div class="tab-content">
          <div *ngFor="let keyword of allKeywords"
               class="tab-pane fade" [id]="txtToId(keyword.txt)" role="tabpanel" aria-labelledby="list-home-list">
            <h6>{{keyword.txt}}</h6>
            <ul class="list-group">
              <li *ngFor="let label of keyword.labels" class="results list-group-item list-group-item-action"
                  (click)="itemClicked($event, label, keyword)" [ngClass]="{'active':label.selected}">
                <div class="row">
                  <div class="col-6">
                    <span *ngIf="label['appeared_in']" class="badge badge-danger badge-pill">HEADER</span>
                    {{(label['appeared_in'] ? label.header_text : label.label_text)}}
                  </div>
                  <div class="col-6">
                    {{label.arabic_translation}}
                  </div>
                </div>
              </li>
            </ul>

          </div>
        </div>


      </div>
      <div class="col-1">

        <button role="button" class="btn btn-light block" data-toggle="modal"
                style="height: 90%;width: 100%;position: absolute;top: 0;right: 0;"
                data-target="#myModal">
          <div class="rotate"><span>Advanced Search</span></div>

        </button>
        <button type="button" class="btn btn-outline-secondary block"
                style="position: absolute;right: 0;bottom: 0;height: 10%;width:100%;padding: 0;font-size: 30px"
                [routerLink]="['/report']">Report
        </button>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-full" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body p-4" id="result">

                <div class="row">
                  <div class="form-group" style="width: 100%">
              <textarea style="width: 100%" class="form-control" rows="5" id="comment"
                        [ngModel]="itemsService.currentItem.searchText"></textarea>
                  </div>
                </div>
                <div  class="row justify-content-end mb-5">
                  <button type="button" class="btn btn-secondary"
                          (click)="adjustResults()">
                    Regenerate Keywords
                  </button>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
