<div class="align body" style="height: 100vh;">
  <img src="assets/images/logo.png" width="170" height="70" style="margin: 10px;">
  <div class="grid">
    <div id="login">
      <h2>Sign Up</h2>

      <fieldset>
        <p><label for="email">E-mail address</label></p>
        <p><input type="email" id="email" name="email" [(ngModel)]="registerVM.email" placeholder="mail@address.com">
        </p>

        <p><label for="password">Password</label></p>
        <p><input type="password" id="password" name="password" [(ngModel)]="registerVM.password"
                  placeholder="password">
        </p>
        <div class="row">
          <div class="col-4">
            <div class="form-check">
              <input class="form-check-input" style="margin-top: 4px;" type="radio" name="userType"
                     [(ngModel)]="registerVM.userType" id="exampleRadios1" value="2" checked>
              <label class="form-check-label" for="exampleRadios1">
                Normal User
              </label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="userType"
                     [(ngModel)]="registerVM.userType" style="margin-top: 4px;" id="exampleRadios2" value="1">
              <label class="form-check-label" for="exampleRadios2">
                Admin
              </label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="userType"
                     [(ngModel)]="registerVM.userType" style="margin-top: 4px;" id="exampleRadios3" value="3" >
              <label class="form-check-label" for="exampleRadios3">
                Visitor
              </label>
            </div>
          </div>
        </div>

        <p><input type="submit" value="Sign Up" (click)="register()"></p>
        <p><input type="submit" class="back-to-sign-in" value="Back To Sign In" [routerLink]="['/login']"></p>
      </fieldset>

    </div> <!-- end login -->
  </div>
</div>
