h4 {
  margin-bottom: .2rem;
}

.card-body {
  padding-bottom: .3rem;
  padding-top: .5rem;
}

.card-text {
  margin-bottom: 0;
  line-height: 20px;
}

.card {
  cursor: pointer;
  margin: 0.25rem;
}

.example-form {
  width: 100%;
}

.cat-btn {
  background: white;
  color: black;
  box-shadow: 0 10px 20px rgba(59, 43, 91, 0.2);
}

.cat-navbar {
  margin-top: -30px;
}
