<div class="wrapper">
  <main>
    <div class="main-section cat-navbar">
      <div class="">
        <div class="main-section-data">
          <div class="row ml-5 mb-4">
            <div class="col-8">

              <h1>Active Reports
                <button type="button" class="btn btn-outline-primary" [routerLink]="['/start-search']">New Report <i
                  class="fa fa-plus"></i></button>
              </h1>

              <div class="row">
                <br>

                <div *ngFor="let report of activeReports">
                  <div class="card m-1" style="width: 18rem;" (click)="openItem(report)">
                    <div class="card-body">
                      <h5 class="card-title">{{report.refNumber}}</h5>
                      <p class="card-text">3/51 Keywords Completed</p>
                      <p class="card-text">3 Countries</p>
                      <p class="card-text">Created On: 22/8/2019 18:33</p>
                      <p class="card-text">Updated On: 25/8/2019 18:33</p>
                    </div>
                  </div>
                </div>

                <div class="card m-1" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Report Title</h5>
                    <p class="card-text">3/51 Keywords Completed</p>
                    <p class="card-text">3 Countries</p>
                    <p class="card-text">Created On: 22/8/2019 18:33</p>
                    <p class="card-text">Updated On: 25/8/2019 18:33</p>
                  </div>
                </div>

                <div class="card m-1" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Report Title</h5>
                    <p class="card-text">3/51 Keywords Completed</p>
                    <p class="card-text">3 Countries</p>
                    <p class="card-text">Created On: 22/8/2019 18:33</p>
                    <p class="card-text">Updated On: 25/8/2019 18:33</p>
                  </div>
                </div>

                <div class="card m-1" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Report Title</h5>
                    <p class="card-text">3/51 Keywords Completed</p>
                    <p class="card-text">3 Countries</p>
                    <p class="card-text">Created On: 22/8/2019 18:33</p>
                    <p class="card-text">Updated On: 25/8/2019 18:33</p>
                  </div>
                </div>

                <div class="card m-1" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Report Title</h5>
                    <p class="card-text">3/51 Keywords Completed</p>
                    <p class="card-text">3 Countries</p>
                    <p class="card-text">Created On: 22/8/2019 18:33</p>
                    <p class="card-text">Updated On: 25/8/2019 18:33</p>
                  </div>
                </div>

                <div class="card m-1" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Report Title</h5>
                    <p class="card-text">3/51 Keywords Completed</p>
                    <p class="card-text">3 Countries</p>
                    <p class="card-text">Created On: 22/8/2019 18:33</p>
                    <p class="card-text">Updated On: 25/8/2019 18:33</p>
                  </div>
                </div>
              </div>

              <h1>Approved Reports</h1>
              <div class="row">
                <br>
                <div *ngFor="let report of activeReports">
                  <div class="card m-1" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{report.title}}</h5>
                      <p class="card-text">3/51 Keywords Completed</p>
                      <p class="card-text">3 Countries</p>
                      <p class="card-text">Created On: 22/8/2019 18:33</p>
                      <p class="card-text">Updated On: 25/8/2019 18:33</p>
                    </div>
                  </div>
                </div>

                <div class="card m-1" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Report Title</h5>
                    <p class="card-text">3/51 Keywords Completed</p>
                    <p class="card-text">3 Countries</p>
                    <p class="card-text">Created On: 22/8/2019 18:33</p>
                    <p class="card-text">Updated On: 25/8/2019 18:33</p>
                  </div>
                </div>
              </div>

              <h1>Pending Review</h1>
              <div class="row">
                <br>
                <div *ngFor="let report of activeReports">
                  <div class="card m-1" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{report.title}}</h5>
                      <p class="card-text">3/51 Keywords Completed</p>
                      <p class="card-text">3 Countries</p>
                      <p class="card-text">Created On: 22/8/2019 18:33</p>
                      <p class="card-text">Updated On: 25/8/2019 18:33</p>
                    </div>
                  </div>
                </div>

                <div class="card m-1" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Report Title</h5>
                    <p class="card-text">3/51 Keywords Completed</p>
                    <p class="card-text">3 Countries</p>
                    <p class="card-text">Created On: 22/8/2019 18:33</p>
                    <p class="card-text">Updated On: 25/8/2019 18:33</p>
                  </div>
                </div>
              </div>


            </div>
            <div class="col-4">


              <h1>Reports To Review</h1>
              <div class="row">
                <br>
                <div *ngFor="let report of activeReports">
                  <div class="card m-1" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{report.title}}</h5>
                      <p class="card-text">3/51 Keywords Completed</p>
                      <p class="card-text">3 Countries</p>
                      <p class="card-text">Created On: 22/8/2019 18:33</p>
                      <p class="card-text">Updated On: 25/8/2019 18:33</p>
                    </div>
                  </div>
                </div>

                <div class="card m-1" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Report Title</h5>
                    <p class="card-text">3/51 Keywords Completed</p>
                    <p class="card-text">3 Countries</p>
                    <p class="card-text">Created On: 22/8/2019 18:33</p>
                    <p class="card-text">Updated On: 25/8/2019 18:33</p>
                  </div>
                </div>

                <div class="card m-1" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Report Title</h5>
                    <p class="card-text">3/51 Keywords Completed</p>
                    <p class="card-text">3 Countries</p>
                    <p class="card-text">Created On: 22/8/2019 18:33</p>
                    <p class="card-text">Updated On: 25/8/2019 18:33</p>
                  </div>
                </div>

                <div class="card m-1" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Report Title</h5>
                    <p class="card-text">3/51 Keywords Completed</p>
                    <p class="card-text">3 Countries</p>
                    <p class="card-text">Created On: 22/8/2019 18:33</p>
                    <p class="card-text">Updated On: 25/8/2019 18:33</p>
                  </div>
                </div>
              </div>


              <!--              <div class="row">-->
              <!--                <div class="col">-->
              <!--                  <button class="btn btn-light cat-btn" (click)="changeCurrentType(0)">All</button>-->
              <!--                </div>-->
              <!--                <div class="col">-->
              <!--                  <button class="btn btn-light cat-btn" (click)="changeCurrentType(1)">Vacancies</button>-->
              <!--                </div>-->
              <!--                <div class="col">-->
              <!--                  <button class="btn btn-light cat-btn" (click)="changeCurrentType(2);notAvailable('grants')">Grants-->
              <!--                  </button>-->
              <!--                </div>-->
              <!--                <div class="col">-->
              <!--                  <button class="btn btn-light cat-btn" (click)="changeCurrentType(3);notAvailable('events')">Events-->
              <!--                  </button>-->
              <!--                </div>-->
              <!--                <div class="col">-->
              <!--                  <button class="btn btn-light cat-btn" (click)="changeCurrentType(4)">Facilities</button>-->
              <!--                </div>-->
              <!--                <div class="col">-->
              <!--                  <button class="btn btn-light cat-btn" (click)="changeCurrentType(5);notAvailable('programs')">Programs-->
              <!--                  </button>-->
              <!--                </div>-->
              <!--                <div class="col">-->
              <!--                  <button class="btn btn-light cat-btn" (click)="changeCurrentType(6)">Posts-->
              <!--                  </button>-->
              <!--                </div>-->
              <!--                <div class="col university-border">-->
              <!--                  <button class="btn btn-light cat-btn" (click)="notAvailable('universities')">Universities</button>-->
              <!--                </div>-->
              <!--                <div class="col">-->
              <!--                  <button class="btn btn-light cat-btn" (click)="notAvailable('people')">People</button>-->
              <!--                </div>-->
              <!--              </div>-->
            </div>
          </div>
          <!--          <app-items-components></app-items-components>-->
        </div>
      </div>
    </div>
  </main>
</div>
