<div class="wrapper">
  <main>
    <div class="main-section cat-navbar">
      <div class="">
        <div class="main-section-data">
          <div class="row ml-5 mb-4">
            <div class="col-8">

              <h4>Active Reports
                <button type="button" class="btn btn-outline-primary" [routerLink]="['/start-search']">New Report <i
                  class="fa fa-plus"></i></button>
              </h4>

              <div class="row">
                <div *ngFor="let report of activeReports.slice(0,numberOfCardsToShow)">
                  <div class="card" style="width: 18rem;" (click)="openItem(report)">
                    <div class="card-body">
                      <h5 class="card-title">{{report.title}}</h5>
                      <p class="card-text">{{matchedCount(report)}}/{{report.keywords.length}} Keywords Completed</p>
                      <p class="card-text">3 Countries</p>
                      <p class="card-text">{{report.createDate|date}}</p>
                      <p class="card-text">{{report.updateDate|date}}</p>
                    </div>
                  </div>
                </div>
                <div *ngIf="activeReports.length > numberOfCardsToShow" class=" mt-5"
                     style="width: 18rem; cursor: pointer" (click)="numberOfCardsToShow = 100">
                  <div class="card-body align-self-center">
                    <h5 class="card-title flex">View All <i class="fas fa-arrow-right"></i></h5>
                  </div>
                </div>
              </div>

              <h4>Approved Reports</h4>
              <div class="row">
                <br>
                <div *ngFor="let report of approvedReports">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{report.refNumber}}</h5>
                      <p class="card-text">3/51 Keywords Completed</p>
                      <p class="card-text">3 Countries</p>
                      <p class="card-text">Created On: 22/8/2019 18:33</p>
                      <p class="card-text">Updated On: 25/8/2019 18:33</p>
                    </div>
                  </div>
                </div>

                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Report Title</h5>
                    <p class="card-text">3/51 Keywords Completed</p>
                    <p class="card-text">3 Countries</p>
                    <p class="card-text">Created On: 22/8/2019 18:33</p>
                    <p class="card-text">Updated On: 25/8/2019 18:33</p>
                  </div>
                </div>
              </div>

              <h4>Pending Review</h4>
              <div class="row">
                <br>
                <div *ngFor="let report of pendingReview">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{report.refNumber}}</h5>
                      <p class="card-text">3/51 Keywords Completed</p>
                      <p class="card-text">3 Countries</p>
                      <p class="card-text">Created On: 22/8/2019 18:33</p>
                      <p class="card-text">Updated On: 25/8/2019 18:33</p>
                    </div>
                  </div>
                </div>

                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Report Title</h5>
                    <p class="card-text">3/51 Keywords Completed</p>
                    <p class="card-text">3 Countries</p>
                    <p class="card-text">Created On: 22/8/2019 18:33</p>
                    <p class="card-text">Updated On: 25/8/2019 18:33</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-4">

              <h4>Reports To Review</h4>
              <div class="row">
                <br>
                <div *ngFor="let report of reportsToReview">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{report.refNumber}}</h5>
                      <p class="card-text">3/51 Keywords Completed</p>
                      <p class="card-text">3 Countries</p>
                      <p class="card-text">Created On: 22/8/2019 18:33</p>
                      <p class="card-text">Updated On: 25/8/2019 18:33</p>
                    </div>
                  </div>
                </div>

                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Report Title</h5>
                    <p class="card-text">3/51 Keywords Completed</p>
                    <p class="card-text">3 Countries</p>
                    <p class="card-text">Created On: 22/8/2019 18:33</p>
                    <p class="card-text">Updated On: 25/8/2019 18:33</p>
                  </div>
                </div>

                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Report Title</h5>
                    <p class="card-text">3/51 Keywords Completed</p>
                    <p class="card-text">3 Countries</p>
                    <p class="card-text">Created On: 22/8/2019 18:33</p>
                    <p class="card-text">Updated On: 25/8/2019 18:33</p>
                  </div>
                </div>

                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Report Title</h5>
                    <p class="card-text">3/51 Keywords Completed</p>
                    <p class="card-text">3 Countries</p>
                    <p class="card-text">Created On: 22/8/2019 18:33</p>
                    <p class="card-text">Updated On: 25/8/2019 18:33</p>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
